*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.color-orange{
    color: #FD6E0A;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
  
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#banner{
    
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerC h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.bannerC h1{
     font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}
.bannerC p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.bannerC {
    max-width: 585px;
}
.bannerImg img{
     max-width: 585px;
     vertical-align: middle;
}
#about{
    padding-top: 130px;
}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.heading{
    max-width: 827px;
    text-align: center;
}
.heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
     font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.info-card h4{
    font-size: 20px;
    font-weight: bold;
}